<!DOCTYPE html>
<html lang="en">

<head>
  <title>Registeration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="stylesheets/animatstylesheet">

  <link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
  <link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">
  <link rel="stylesheet" href="stylesheets/magnific-popup.css">


  <link rel="stylesheet" href="stylesheets/bootstrap-datepicker.css">
  <link rel="stylesheet" href="stylesheets/jquery.timepicker.css">

  <link rel="stylesheet" href="stylesheets/flaticon.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/details.css">
  <link rel="stylesheet" href="stylesheets/userin.css">


  <style>
    /* Style The Dropdown Button */
    .dropbtn {
      font-weight: 700;
      color: #000000;
      position: relative;
      text-transform: uppercase;
      opacity: 1 !important;
      background-color: white;
      color: black;
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      padding-top: 2.25rem;
      padding-bottom: .9rem;
      font-size: 14px;
      border: none;
      cursor: pointer;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #f1f1f1
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
      background-color: white;
    }

    .btn a {
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
    }

    .btn a:hover {
      background-color: #ddd;
      color: black;
    }

    .btn .previous {
      background-color: #f1f1f1;
      color: black;
    }

    .btn .next {
      background-color: #04AA6D;
      color: white;
    }

    #form1 {
      margin-bottom: 100px;
    }

    .submit {
      margin-top: 50px;
    }

    select {
      font-family: Arial, sans-serif;
      color: #333;
      background-color: #f2f2f2;
      border: 1px solid #ccc;
      padding: 5px;
      margin: 10px;
      font-size: 16px;
      width: 200px;
      margin-left: 60px;
    }
  </style>
</head>

<body>
  {{> header sell=true}}

  <form action="/user/uploadpet" id="form1" method="POST" enctype="multipart/form-data">
    <div class="hi">
      <div class="one">
        <label for="name" type="text">Name :</label>
        <input type="text" id="name" placeholder="Enter the name" name="name" autofocus required>
      </div>
      <div class="two">
        <label for="category" type="text">Category :</label>
        <select name="category" id="" required>
          <option value="" disabled selected hidden>Choose</option>
          <option value="cat">Cats</option>
          <option value="dog">Dogs</option>
          <option value="cow">Cow</option>
          <option value="goat">Goat</option>
          <option value="birds">Birds</option>
        </select>
      </div>
      <div class="three">
        <label for="location" type="text">Image1 :</label>
        <input type="file" id="image" name="image1" required>
      </div>
      <div class="three">
        <label for="location" type="text">Image2 :</label>
        <input type="file" id="image" name="image2" required>
      </div>
      <div class="three">
        <label for="location" type="text">Image3 :</label>
        <input type="file" id="image" name="image3" required>
      </div>
      <div class="four">
        <label for="price" type="text">Price :</label>
        <input type="number" id="name" placeholder="Enter the price" name="price" required>
      </div>
       <div class="four">
        <label for="price" type="text">Phone :</label>
        <input type="tel" id="name" placeholder="Enter  phone number" name="phone" required>
      </div>
       <div class="four">
        <label for="address" type="text">place :</label>
        <input type="text" id="name" placeholder="Enter your place" name="location" required>
      </div>
      <br>
      <br>
      <div class="five">
        <label for="description" type="text">Description :</label>
   
        <textarea name="description" id="description" cols="30" rows="10" placeholder="Enter the description here" required></textarea>
      </div>
      <br><br>
      <div class="six">
        <label for="location" type="text">Address :</label>
      
        <textarea name="address" id="location" cols="30" rows="10" placeholder="Enter the Address here!" required></textarea>
      </div>
      <button type="submit" form="form1" value="Submit" class="submit">Submit</button>
    </div>
  </form>


  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading">Petsitting</h2>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          <ul class="ftco-footer-social p-0">
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span
                  class="fa fa-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span
                  class="fa fa-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span
                  class="fa fa-instagram"></span></a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading">Latest News</h2>
          <div class="block-21 mb-4 d-flex">
            <a class="img mr-4 rounded" style="background-image: url(images/image_1.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> April 7, 2020</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a class="img mr-4 rounded" style="background-image: url(images/image_2.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> April 7, 2020</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
          <h2 class="footer-heading">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Home</a></li>
            <li><a href="#" class="py-2 d-block">About</a></li>
            <li><a href="#" class="py-2 d-block">Services</a></li>
            <li><a href="#" class="py-2 d-block">Works</a></li>
            <li><a href="#" class="py-2 d-block">Blog</a></li>
            <li><a href="#" class="py-2 d-block">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon fa fa-map"></span><span class="text">203 Fake St. Mountain View, San
                  Francisco, California, USA</span></li>
              <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929
                    210</span></a></li>
              <li><a href="#"><span class="icon fa fa-paper-plane"></span><span
                    class="text">info@yourdomain.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 text-center">

          <p class="copyright">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
            is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
              target="_blank">Colorlib.com</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>

</body>


</html>