

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
  }
  
.join-comp-container-signin{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 55px 0px;
    height: 90vh;
  }
  
  .box-signin{
    width: 31%;
    padding: 2.5rem;
    box-sizing: border-box;
    border: 1px solid green;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  }

  .box-signin form{
    width: 106%;
  }
  
  .box-signin h2 {
    margin: 0px 0 -0.125rem;
    padding: 0;
    color: #fff;
    text-align: center;
    color:  green;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 32px;
    font-weight: 400;
    
  }

  .box-signin a{
    text-decoration: none;
  }

  .box-signin p {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .1px;
    color:green;
    margin-top: 30px;
  }
  
  .box-signin .inputBox {
    position: relative;
  }
  
  .box-signin .inputBox input {
    width: 93%;
    padding: 0.625rem 10px;
    font-size: 1rem;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: 1px solid green;
    background: transparent;
    border-radius: 4px;
    
  }
  
  .box-signin .inputBox label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0.625rem 0;
    font-size: 1rem;
    color:green;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .box-signin .inputBox input:focus ~ label,
  .box-signin .inputBox input:valid ~ label,
  .box-signin .inputBox input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 10px;
    color:green;
    font-size: 0.75rem;
    background-color: white;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .box-signin .inputBox input:focus {
    outline: none;
    border: 2px solid #008000e0;
  }
  .box-signin button[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    background-color:green;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
    width: 93%;
  }
  
  .box-signin input[type="submit"]:hover {
    background-color:#008000e0;
    box-shadow: 0 1px 1px 0 rgba(66,133,244,0.45), 0 1px 3px 1px rgba(66,133,244,0.3);
  }

  @media (max-width:1100px) {
    .box-signin{
        width:41%;
    }
  }

  @media (max-width:860px) {
    .box-signin{
        width: 53%;
    }
  }

  @media (max-width:640px) {
    .box-signin{
        width:72%;
    }
  }

  @media (max-width:500px) {
    .box-signin{
        width: 87%;
    }
  }
  
