.one{
    margin-top:20px;
    margin-left: 400px;
}
.one input{
    margin-top: 20px;
    margin-left: 100px;
}
.two{
    margin-top:0px;
    margin-left: 400px;
}
.two input{
    margin-top: 100px;
    margin-left: 65px;
}
.three{
    margin-top:0px;
    margin-left: 400px;
}
.three input{
    margin-top: 100px;
    margin-left: 100px;
}
.four {
    margin-top:0px;
    margin-left: 400px;
}
.four input{
    margin-top: 100px;
    margin-left: 115px;
}
.five{
    margin-top:0px;
    margin-left: 400px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}

.five textarea{
    resize: none;
    height: 132px;
    width: 75%;
    padding-left: 10px;
    padding: 10px 0px;
    padding-left: 10px;
}

.six textarea{
    resize: none;
    height: 86px;
    width: 75%;
    padding-left: 10px;
    padding: 10px 0px;
    padding-left: 10px;
}
.five input{
    margin-top: 100px;
    margin-left: 100px;
}
.six{
    margin-top:0px;
    margin-left: 400px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}
.six input{
    margin-top: 100px;
    margin-left: 100px;
}
label{
    font-size: 25px;
    font-weight: 400px;
    font: grey;
}
input{
    border: 2px;
    border:1px solid black:
}
button {
    margin-top:0px;
    margin-left: 400px;
    border: none;
}